<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551002721636-1im8fkl575fdebtu71tcgdqpjrm65d30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551002721636-1im8fkl575fdebtu71tcgdqpjrm65d30</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ1XzXfMvk22fdIc6zJS1pk0UxO7YmcH8</string>
	<key>GCM_SENDER_ID</key>
	<string>551002721636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Nikita-Kogolenok.GoogleSignIn</string>
	<key>PROJECT_ID</key>
	<string>signin-95c80</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-95c80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551002721636:ios:307235fe16440d88bdbe71</string>
</dict>
</plist>